<div class="row-12 my-3">
  <h1>ユーザ情報編集</h1>
</div>

<%= form_with model: @user, local: true do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: 'col-4 mb-3' %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: 'col-4 mb-3' %>
  </div>


  <div class="actions">
    <%= f.submit "update", class:'btn btn-primary my-3' %>
  </div>
<% end %>

