<!DOCTYPE html>
<html>
  <head>
    <title>Taskleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Taskleaf</a>

            <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "#{current_user.name} さん", user_path(current_user.id) %>
              </li>
              <li class="nav-item">
                <%= link_to "ユーザー一覧", users_path %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete  %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path  %>
              </li>
              <li class="nav-item ">
                <%= link_to "ログイン", new_user_session_path %>
              </li>
            <% end %>
            </ul>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="row mt-3">
        <div class="col-12">
          <% if user_signed_in? %>
            <%= form_with url: finder_path, method: :get, local: true do |f| %>
              <%= f.select :range, options_for_select([['User'], ['Book']]) %>
              <%= f.select :search, options_for_select([["完全一致", "perfect_match"], ["部分一致", "partial_match"]]) %>
              <%= f.text_field :word %>
              <%= f.submit "検索" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <!--フラッシュメッセージ-->
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %> m-3">
          <%= msg.html_safe %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <footer class="container-fluid bg-light text-center mt-3">Taskleaf</footer>
  </body>
</html>
