<!DOCTYPE html>
<html>
  <head>
    <title>Taskleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Taskleaf</a>

            <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "#{@user.name} さん", users_path(@user.id) %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete  %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path  %>
              </li>
              <li class="nav-item ">
                <%= link_to "ログイン", new_user_session_path %>
              </li>
            <% end %>
            </ul>
        </div>
      </nav>
    </header>

    <div class="container">
      <!--フラッシュメッセージ-->
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %> m-3">
          <%= msg.html_safe %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <footer class="container-fluid bg-light text-center mt-3">Taskleaf</footer>
  </body>
</html>
